<! DOCTYPE html>
<html>
  <head>
    <title>VegHouse Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
   
  </head>

  <body class="">
    <div class="wrapper">
      <%= render partial: "partials/sidebar" %>
       <div class="main-panel" id="main-panel">
        <%= render partial: "partials/navbar" %>
        <%= yield %>
        <%= render partial: "partials/footer" %>
       </div>
    </div>
  </body>
   <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</html>
